<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>测试页面</title>
    <!-- 引入elementui.min.css -->
    <link rel="stylesheet" href="./libs/elementui/css/elementui.min.css">
    <!-- 引入login.css -->
    <link rel="stylesheet" href="./styles/index.css">

    <!-- 引入vue.min/js -->
    <script src="./libs/vue/vue.min.js"></script>
    <!-- 引入elementui.min.js -->
    <script src="./libs/elementui/js/elementui.min.js"></script>


</head>

<body>
    <div id="app">
        <!-- 整个页面的容器 -->
        <el-container>
            <!-- 右侧内容容器 -->
            <el-container>
                <!-- 右侧头部 -->
                <el-header>
                    <h2>欢迎你 admin</h2>
                    <p>修改账号密码</p>
                </el-header>
                <!-- 右侧主体 -->
                <el-main>
                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <span>修改账号密码</span>
                        </div>
                        <div class="text item">
                            <el-form :model="loginForm" status-icon :rules="rules2" class="addUserForm" ref="loginForm"
                                label-width="80px" :label-position="labelPosition" class="demo-ruleForm">
                                <el-form-item label="原密码：" prop="password">
                                    <el-input type="password" v-model="loginForm.password" autocomplete="off"></el-input>
                                </el-form-item>
                                <el-form-item label="新密码：" prop="newPassword">
                                    <el-input type="password" v-model="loginForm.newPassword" autocomplete="off"></el-input>
                                </el-form-item>
                                <el-form-item label="新密码：" prop="cfNewPassword">
                                    <el-input type="password" v-model="loginForm.cfNewPassword"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="success" @click="submitForm('loginForm')">修改</el-button>
                                    <el-button @click="resetForm('loginForm')">重置</el-button>
                                </el-form-item>
                            </el-form>
                        </div>
                    </el-card>
                </el-main>
                <el-footer>&copy; Copyright 2018 华联超市管理系统</el-footer>
            </el-container>
        </el-container>
    </div>

    <script>
        //创建实例
        new Vue({
            el: '#app',
            data() {
                let newPass = (rule, value, callback) => {
                    //如果为空
                    if (value === '') {
                        callback(new Error('请再次输入新密码！'));
                    } else if (value === this.loginForm.password) {
                        callback(new Error('新密码不能与原密码相同，请重新输入！'));
                    } else if (value !== this.loginForm.newPassword) {
                        callback(new Error('两次密码输入不同,请重新输入！'));
                    } else {
                        callback();
                    }
                };
                let checkPass = (rule, value, callback) => {
                    //如果为空
                    if (value === '') {
                        callback(new Error('请再次输入新密码！'));
                    } else if (value !== this.loginForm.newPassword) {
                        callback(new Error('两次密码输入不同,请重新输入！'));
                    } else {
                        callback();
                    }
                }

                return {
                    labelPosition: 'top',
                    loginForm: {
                        password: '',
                        newPassword: '',
                        cfNewPassword: ''
                    },
                    rules2: {
                        //验证用户名
                        password: [{
                                required: true,
                                message: '请输入原密码',
                                trigger: 'blur'
                            }, //必填
                            {
                                min: 6,
                                max: 12,
                                message: '长度在 6 到 12 个字符',
                                trigger: 'blur'
                            } //用户名长度
                        ],
                        newPassword: [{
                            validator: newPass,
                            trigger: 'blur',
                            required: true
                        }],
                        cfNewPassword: [{
                            validator: checkPass,
                            trigger: 'blur',
                            required: true
                        }],
                    }
                };
            },
            methods: {
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            alert('验证成功，可以发送数据到后台！');
                        } else {
                            console.log('验证失败，数据发送失败！');
                            return false;
                        }
                    });
                },
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                }
            }
        })
    </script>
</body>

</html>