/* index */
.el-header,
.el-footer {
    color: #333;
    text-align: center;
    
}

.el-aside {
    background-image: url('../images/left_bg.png');
    color: #333;
    text-align: right;
    padding-top: 30px;
}

.el-main {
    color: #333;
    text-align: center;
}

body>.el-container {
    margin-bottom: 40px;
}



html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#app {
    height: 100%;
}

#app .el-container {
    height: 100%;
}

.el-aside {
    color: #ffffff
}

.el-aside .menu-top-text {
    padding-right: 20px;
}

.el-aside p {
    font-size: 12px;
}

.el-aside p a {
    color: #ffffff;
    text-decoration: none;
}

.el-menu {
    background-color: transparent;
    border: none;
    color: #fff;
}

.el-submenu {
    background-color: transparent;
    color: #fff;
    margin-top: 10px
}

.el-submenu .el-submenu__title {
    background-image: url('../images/menu_bg.png');
    height: 33px;
    line-height: 33px;
    margin-left: 30px;
    border-radius: 4px 0 0 4px;
    color: #fff;
    padding-right: 50px;
}

.el-menu-item-group__title {
    padding: 0;
}

.el-submenu .el-submenu__title i {
    color: #fff;
}

.el-menu-item-group .el-menu-item {
    color: #fff;
    line-height: 33px;
    height: 33px;
}

.el-menu-item-group .el-menu-item a{
    color:#fff;
    text-decoration: none;
} 

.el-menu-item-group .el-menu-item.is-active {
    background-color: transparent;
    color: greenyellow;
}

.el-menu-item-group .el-menu-item:hover {
    background-color: transparent;
    color: #ccc;
}

.el-header {
    text-align: left;
    padding: 20px;
    height: 100px !important;
}

.el-header h2 {
    margin: 0;
    padding: 0;
}

.el-header p {
    padding: 0;
    margin: 0;
}


.text {
    font-size: 14px;
}

.item {
    margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}

.el-card .el-card__header {
    padding: 10px 10px;
    text-align: left;
    background-color: #ccc;
    font-size: 16px;
    font-weight: bold;
}

.el-card .el-card__body .el-alert {
    margin-top: 10px;
}

.el-table__body-wrapper {
    text-align: left;
}

.el-footer {
    font-size: 12px;
    color: #333;
    text-align: left;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
.el-form--label-top .el-form-item__label{
    float: left;
    font-weight: bold;

}

/* userAdd */
.addUserForm {
    width: 300px;
}

.addUserForm .el-form-item .el-input input {
    height: 30px;
}

/* Addclass */
.AddclassForm{
    width: 400px;
    text-align: left;
}
.AddclassForm .el-form-item__label{
    word-wrap:break-word;
}

/* AddEditAccount */
.AddEditAccount{
    width: 400px;
    text-align: left;
}
.AddEditAccount .el-form-item__label{
    word-wrap:break-word;
}